.businessCaseContainer {
    background: #0B1335;
    padding: 10vw 11vw 0 10vw;
}

.smalltitle {
    color: rgba(222, 229, 255, 0.85);
    text-align: center;
    font-family: Clash Grotesk;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.mainTitle {
    color: #FFF;
    text-align: center;
    font-family: Avenir Next LT Pro;
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.info {
    color: var(--Text-colour, rgba(198, 229, 241, 0.80));
    text-align: center;
    font-family: Avenir Next LT Pro;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134%; /* 1.675rem */
}

.innerTitle {
    color: var(--Headng-colour, rgba(255, 255, 255, 0.80));
    text-align: center;
    font-family: Avenir Next LT Pro;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
}
.gridBox {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
}

.mobileBasket {
    display: none;
    width: 100%;
}

.basket {
    width: 100%;
}
.challenges {
    display: none;
}
.boxesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-between;
}

.boxes {
    width: 45%;
}
.videoBox {
    border-radius: 1.5rem;
    margin: 10rem 0;
}
@media screen and (max-width: 640px) {
    .businessCaseContainer {
        padding: 1rem;
    }
    .bubble1 {
        width: 2.8rem;
        height: 2.8rem;
        margin-top: 2rem;
    }
    .smalltitle {
        font-size: 0.8rem;
    }
    .mainTitle {
        font-size: 1.5rem;
    }
    .info {
        display: none;
    }
    .gridBox {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .mobileBasket {
        display: block;
        margin-bottom: 2rem;
    }
    .basket {
        display: none;
    }
    .challenges{
        display: block;
    }
    .boxesContainer {
        gap: 2rem;
    }
    .boxes{
        width: 45%;
    }
    .innerTitle {
        font-size: 1.25rem;
    }
    .deskChallenges{
        display: none;
    }
    .videoBox {
        margin: 3rem 0;
    }
}