.featureContainer {
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid #45d2eb;
  width: 15rem;
  background: url("../assets/featureBackground.png"),
    lightgray 0% 0% / 32.177734375px 32.177734375px repeat, #0c173e;
}

.featureContainer > h2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: Avenir Next LT Pro;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.featureContainer > p {
  color: var(--Text-colour, rgba(198, 229, 241, 0.8));
  text-align: center;
  font-family: Avenir Next LT Pro;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 134%; /* 1.5075rem */
}

.fullSet {
  display: flex;
  justify-content: left;
  gap: 2rem;
}

.firstSet,
.secondSet,
.thirdSet {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.secondSet {
  margin-top: 10rem;
}

.featuresContainer {
  padding: 10rem 11vw;
  display: flex;
  gap: 2rem;
}

.featureHeading {
  color: var(--Headng-colour, rgba(255, 255, 255, 0.8));
  font-family: Avenir Next LT Pro;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 134%; /* 3.015rem */
  text-transform: capitalize;
  margin-block-start: 0;
}

.featureText {
  color: var(--Text-colour, rgba(198, 229, 241, 0.8));
  font-family: Avenir Next LT Pro;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 134%; /* 1.675rem */
}
.textContainer {
  margin-bottom: 5rem;
}

.mobileTextContainer {
  margin-bottom: 3rem;
  display: none;
}

.thirdBox {
  display: flex;
  flex-direction: column;
}
.tempp {
  display: none;
}
@media screen and (max-width: 640px) {
  .textContainer {
    display: none;
  }
  .mobileTextContainer {
    display: block;
  }
  .featuresContainer {
    padding: 1rem;
    flex-wrap: wrap;
  }
  .featureContainer>h2 {
    font-size: 1rem;
  }
  .featureContainer>p {
    font-size: 0.7rem;
  }
  .featureContainer>img {
    width: 2rem;
  }
  .mobileTextContainer>h2 {
    color: var(--Headng-colour, rgba(255, 255, 255, 0.80));
    font-family: Avenir Next LT Pro;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 134%; /* 1.675rem */
    text-transform: capitalize;
  }
  .mobileTextContainer>p {
    color: var(--Text-colour, rgba(198, 229, 241, 0.80));
    font-family: Avenir Next LT Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134%; /* 1.1725rem */
  }
  .thirdBox {
    display: none;
  }
  .featureContainer {
    padding: 1rem;
    width: auto;
  }
  .fullSet {
    gap: 0.5rem;
  }
  .firstSet, .secondSet {
    width: auto;
    gap: 1rem;
  }
  .tempp {
    display: block;
  }
}