.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 11vw;
}

.ulList {
    display: flex;
    align-items: center;
    gap: 5.71rem;
    list-style: none;
    margin-block: 0;
}

.ulList>li {
    font-family: Avenir Next LT Pro;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    opacity: 0.8;
    line-height: normal;
    color: #2069A9;
}

.ulList>li:hover {
    opacity: 1;
    cursor: pointer;
    background: linear-gradient(91deg, #01FDFE, #1C9DFE);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contactBtn {
    display: flex;
    padding: 0.85713rem 3.42856rem;
    align-items: flex-start;
    gap: 0.71431rem;
    border-radius: 0.85713rem;
    border: 1px solid #01FDFE;
    font-family: Avenir Next LT Pro;
    font-size: 1.42856rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}